.tooltip-container {
    position: relative;
}

.tooltip-text { 
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    pointer-events: none;

    position: absolute;
    margin-left: -50%;
    white-space: nowrap;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in, visibility 0s linear 0s;
}